.container1 {
    height: 80vh;
    gap: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.menuSize {
    width: 30px;
    color: white;
    gap: 10px;

}

span {
    color: white;
    font-size: 30px;
    padding: 5px;
    font-family: "Barlow Condensed", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #106eb6;
}

.logo {
    margin-left: 1vw;
}

.logoImg {
    width: 60%;
}

.menuHolder {
    display: flex;
    gap: 10%;
    margin-right: 20vw;
}

.menuButton {
    display: flex;
    flex-direction: row;
    height: 3vh;
    width: 240px;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 18px;
    background-color: #106eb6;
}

.pagina1{
    display: flex;
    flex-direction: column;
    gap:20vh ;
}
.name {
    display: flex;
    flex-direction: row;
}

.JRed {
    color: #C83239;
}

.TituloMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.caixaDeItens {
    display: flex;
    flex-direction: column;
    background-color: #328BC9;
    width: 610px;
    height: 200px;
    justify-content: center;
    border-radius: 15px;
    gap: 10px;
    box-shadow: -3px 6px 14px 5px rgba(0, 0, 0, 0.21);
}

.listMain {
    display: flex;
    width: 70%;
    color: white;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    
}

.item1 {
    margin-left: 5%;
    font-family: "Barlow Condensed", sans-serif;
}

.item2 {
    margin-left: 10%;
    font-family: "Barlow Condensed", sans-serif;
}

.item3 {
    margin-left: 20%;
    font-family: "Barlow Condensed", sans-serif;
} 
.mainHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h1{
   font-family: "Varela Round", sans-serif;
   font-size: 80px;
   font-weight: normal;
   color: #106DB5;
   margin-top: 30px;
   margin-bottom: 0px;
}

h2{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 40px;
    font-weight: normal;
    color: #106DB5;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#fundoFuncionalidades {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.4);
}

.grid-cards {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 120px;
    max-width: 1000px; 
}

.quadro1 img {
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 60px;
    height: 50px;
}

#tituloMonitoramento {
    color: white;
    font-size: 40px;
    
}

.quadro1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 400px;
    height: 320px;
    padding: 30px;
    gap: 15px;
    background-color: #328BC9; 
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    color: white;
}


.quadro1 p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.2;
}

.quadro1 h2 {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    color: white;
}

#container2 {
    grid-template-columns: 3fr 2fr;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.quadroDevs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60vw;
    height: 48vh;
    padding: 30px;
    gap: 15px;
    background-color: #FFFFFF; 
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 1);
    color: white;
}

.infoDev {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 27px;
    font-weight: 200;
    line-height: 1.2;
    color: #06477A;
    max-width: 400px;
}

.devs {
    display: flex;     
    justify-content: center;
    align-items: center;    
    flex-wrap: wrap;    
    gap: 30px;          
    width: 100%;        
    max-width: 1000px;
}

