*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: none;
     border: none; 
     padding: 0;
}
.menuSize{
    width: 30px;
}
header{
    display: flex;
    justify-content: row;
    justify-content: space-between;
    background-color: #106eb6;
}
.logoImg{
    width: 50%;
}
.menuHolder{
    display: flex;
    justify-content: row;
}
.menuButton{
    height: 10%;
}